html, body, form {
	margin: 0;
	padding: 0;
	width: 100%;
}

h1 {
	background: #fafafa;
	font-size: 1.2em;
	margin: 0;
	padding: 5px;
}

input {
	display: inline-block;
	font-size: 1.1em;
	-moz-box-sizing: border-box;
	padding: 0.6em 0.4em;
	width: 100%;
}

ul {
	padding: 0;
	list-style: none;
	margin: 0;
}

#apis > li > a {
	display: block;
	font-size: 1.1em;
	margin: 0.6em 0.4em;
}

#DEBUG {
	border-bottom: 1px solid #aaa;
	background: #fafafa;
	color: #777;
	font-size: 0.8em;
	max-height: 150px;
	overflow: scroll;
	top: 0px;
	width: 100%;
}

#DEBUG p {
	padding: 0px 5px;
}

#DEBUG .error {
	color: red;
}

#apis {
	overflow: scroll;
	width: 100%;
}

#apis dt {
	border-top: 1px solid #eee;
	clear: both;
	cursor: pointer;
	padding: 6px 5px;
}

#apis .clickable {
	background: #dfd;
}

#apis .certified {
	color: #777;
	background-color: #fafafa;
}

#apis .open {
	border-top: 2px solid #ccc;
	font-weight: bold;
}

#apis dd {
	margin: 0;
	padding: 5px;
}

#apis dd p {
	margin: 5px 0;
}

#apis dd button.action {
	margin: 5px 0;
	padding: 6px;
	width: 100%;
}

#apis span {
	float: right;
	margin-left: 3px;
}

#apis span.fail {
	color: red;
}

#apis span.success {
	color: green;
}

#apis dt.notest {
	background: #ffd;
}

#apis dt.fail {
	background: #fdd;
}
#reload {
	margin: 5px 0;
	padding: 8px;
	width: 100%;
}
.hidden {
	display: none;
}
#apis .bugs li {
	display: inline;
}
#apis .bugs li+li:before {
	content: ", ";
}
#apis .bugs > li:before {
	content: "";
}
